{% extends "registration/_auth_base.html" %}
{% load i18n %}

{% block subtitle %}{% trans "Choose a new password" %}{% endblock %}
{% block heading %}{% trans "Choose a new password" %}{% endblock %}
{% block form %}
{% if validlink %}
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">{% trans "Change my password" %}</button>
</form>
{% else %}
<p>{% trans "The password reset link was invalid, possibly because it was already used." %}</p>
<p><a href="{% url 'password_reset' %}">{% trans "Request a new reset link" %}</a></p>
{% endif %}
{% endblock %}
